<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<div class = "main_pages">
  <div class = "wrapper">
    <header class = "header">
      <div class = "conteiner_1">
        <div class = "logo">
          <H1>Логотип</H1>
        </div>
        <div class = "navigation">
          <ul class = "navigation_links">
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">ПОСЛУГИ</a>
            </il>
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">НОВИНИ</a>
            </il>
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">ПРО КЛІНІКУ</a>
            </il>
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">КОНТАКТИ</a>
            </il>
          </ul>
        </div>
        <div class = "authentication">
          <ul class = "authentication_links">
            <il class = "authentication_items">
              <a class = "authentication_text" href="https://www.youtube.com/">Увійти</a>
            </il>
            <il class = "authentication_items">
              <%= link_to "Регистрация", new_question_path, class: "btn btn-primary" %>
            </il>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div class="Section_1">
    <img class = "Photo_1" src="<%= asset_path('Frame_1.png') %>" alt="Опис фото">
  </div>
  <div class = "Section_2">
    <div class="conteiner_2">
      <div class = "about_clinic">
        <div class = "about_clinic_text">
          <div class = "about_clinic_text_name">
            <strong class = "about_clinic_text_name_name">
              Про нашу клініку
            </strong>

          </div>
          <div>
            <H2 class = "about_clinic_text_name_text">
              У нашій клініці ми розуміємо, що кожен пацієнт унікальний, тому ми надаємо індивідуальний підхід до кожного випадку.
              Наші професіонали обладнані не лише найновішими технологіями та знаннями, але і розумінням твоїх особистих потреб і побажань.
              Від першого візиту до закінчення лікування ми прагнемо забезпечити найвищий стандарт якості та догляду.
              Від регулярних чисток до складних стоматологічних процедур, ми дбаємо про твоє здоров'я та комфорт кожного кроку шляху.
              Приходьте до нас і дозвольте нам допомогти вам зберегти ваш усмішку яскравою та здоровою на протязі усього життя.
            </H2>
          </div>
        </div>
        <div class = "about_clinic_image">
          <div class = "about_clinic_image_pos">
            <img class = "Photo_2" src="<%= asset_path('Frame_2.jpg') %>" alt="Опис фото">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



