<%= stylesheet_link_tag "userinfo", "data-turbo-track": "reload" %>
<div class="UserInfo">
  <div class="UserMenu">
    <div class="Username">
      <div class="Usernametext">
        <%=current_user.name%>
      </div>
      <div class="Usernametext2">
        Ваша персональна сторінка
      </div>
    </div>
    <div class="UserMenuButton">
      <hr class="Line">
      <div class="UserMenuButtonPos">
        <ul class="navigation_user">
          <li class="navigation_user_pos">
            Запис на прийом
          </li>
          <li class="navigation_user_pos">
            Історія лікування
          </li>
          <li class="navigation_user_pos">
            Вихід
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Content">
  </div>
</div>