div{
    display: block;
}
hr{
    border: none;
    margin-top: 40px;
    margin-bottom: 4px;
    height: 1px;
    width: 100%;
    background-color: #919191;
    filter: blur(0px);
}

.wrapper{
    width: 100%;
    height: 100px;
}
.header{
    height: 100%;
    width: 100%;
}
.conteiner_1{
    background: #efefef;
    height: 100%;
    width: 100%;
    display: flex;
}


.Logo{
    padding: 0% 0% 0% 4%;
}
.Logo_img{
    height: 100%;
    width: 100%;
}

.navigation{
    width: 40%;
    padding: 0% 0% 0% 30%;
}
.navigation_links{
    margin: 0%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}
.navigation_items{
    margin: 35px 0% 0% 0%;
}
.navigation_button{
    color: #3a3a3a;
    font-size: 25px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
}
.navigation_button:hover{
    color: #3e8de1;
    font-size: 26px;
    transition: color 300ms ease-out, font-size 300ms ease-out;
}


.authentication{
    width: 20%;
}
.authentication_links{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
}
.authentication_items{
    margin: 25px 0% 0% 0%;
    padding: 15px;
    background: #3e8de1;
    border-radius: 30px;
}
.authentication_items:hover{
    background: #184b81;
    transition: background-color 300ms ease-out;
}
.authentication_text{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
}


.Section_1{
    height: 80%;
    width: 100%;
}
.Photo_1{
    filter: brightness(0.85);
    height: 100%;
    width: 100%;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.29);
}

.Section_2{
    height: 100%;
    width: 100%;
    margin-top: 170px;
    margin-bottom: 170px;
    font-family: Bahnschrift;
}
.conteiner_2{
    margin-right: 220px;
    margin-left: 220px;
}
.about_clinic{
    display: flex;
}
.about_clinic_text{
    width: 50%;
}
.about_clinic_text_text_text{
    color: #7a7a7a;
    font-weight: lighter;
    font-size: 19px;
}
.about_clinic_text_name_name{
    font-weight: bold;
    color: #464646;
    font-size: 40px;
}
.about_clinic_text_name_name_cl{
    color: #3e8de1;
}
.about_clinic_image{
    width: 50%;
}
.about_clinic_image_pos {
    text-align: center;
    position: relative;
}
.Photo_2{
    height: 90%;
    width: 90%;
}


.Section_3{
    height: 100%;
    width: 100%;
    margin-top: 170px;
    margin-bottom: 170px;
    font-family: Bahnschrift;
}
.conteiner_3{
    margin-right: 0px;
    margin-left: 0px;
    background-color: #f3f3f3;
}
.about_our_advantages{
    display: flex;
}
.about_our_advantages_image{
    width: 50%;
    background-image: url("Frame_3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about_our_advantages_text{
    width: 50%;
}
.about_our_advantages_text_name{
    margin-left: 50px;
    margin-top: 65px;
}
.about_our_advantages_text_name_name{
    font-weight: bold;
    color: #464646;
    font-size: 35px;
}
.about_our_advantages_text_name_name_cl{
    color: #3e8de1;
}
.about_our_advantages_text_text{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 75px;
    display: flex;
}
.about_our_advantages_text_text_row{
    padding-left: 10px;
    padding-right: 10px;
    padding: 0;
    width: 50%;
    height: 100%;
}
.about_our_advantages_text_text_row_list{
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: #464646;
    padding-left: 0;
}
.about_our_advantages_text_text_row_list_pos{
    height: 100%;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    list-style-type: none;
}
.halochka{
    height: 15px;
    width: 15px;
    left: 0px;
    position: absolute;
}

.Section_4{
    height: 100%;
    width: 100%;
    margin-top: 170px;
    margin-bottom: 170px;
    font-family: Bahnschrift;
}
.conteiner_4{
    margin-right: 300px;
    margin-left: 300px;
}
.our_services{
    display: grid;
}
.our_services_text{
    margin-top: 70px;
}
.our_services_text_1{
    color: #3e8de1;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.our_services_text_2{
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.our_services_text_3{
    color: #464646;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.our_services_grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    position: relative;
}
.our_services_grid_set{
    display: flex;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Icon{
    height: 100px;
    width: 100px;
}
.our_services_grid_text{
    color: #3e8de1;
    font-size: 16px;
    margin-bottom: 3px;
}
.our_services_grid_text_2{
    color: #3a3a3a;
    font-size: 12px;
    margin-top: 5px;
    font-weight: lighter;
}



